@keyframes CircleArtIntersectionIn {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes CircleArtIntersectionInFilled {
  to {
    fill-opacity: 1;
    stroke: var(--color-background--shade-2);
    stroke-dasharray: var(--size--x2);
    stroke-dashoffset: 0;
  }
}

.CircleArt__visual {
  transition-property: background-color;
  transition-duration: var(--transition-time--fast);
  transition-timing-function: var(--transition-function);
}

.CircleArt__shape {
  stroke: var(--oc-gray-6);
  stroke-width: 0.5;
  transition-property: stroke;
  transition-duration: var(--transition-time--fast);
  transition-timing-function: var(--transition-function);
}

.CircleArt__shape:hover {
  stroke: var(--color-accent--shade-2);
}

.CircleArt__intersection {
  fill: var(--color-background--shade-2);
  fill-opacity: 1;
  stroke: var(--oc-gray-6);
  stroke-width: 0.5;
  transition-property: fill;
  transition-duration: var(--transition-time--fast);
  transition-timing-function: var(--transition-function);
}

.CircleArt__intersection--filled {
  fill: var(--color-text--shade-2);
  stroke: var(--color-background--shade-2);
  stroke-dasharray: var(--size--x2);
}

.CircleArt__intersection--underlay {
  stroke: transparent;
}

.CircleArt__visual--mode-view {
  & .CircleArt__intersection {
    animation-name: CircleArtIntersectionIn;
    animation-duration: var(--transition-time--slow);
    animation-fill-mode: forwards;
    animation-timing-function: var(--transition-function);
  }

  & .CircleArt__intersection--filled {
    fill-opacity: 0;
    animation-name: CircleArtIntersectionInFilled;
  }
}

.CircleArt__visual--mode-fill {
  & .CircleArt__intersection--unfilled:hover {
    fill: var(--color-background--shade-3);
  }

  & .CircleArt__intersection--filled:hover {
    fill: var(--color-text--shade-1);
  }
}

