{
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "presets": [
    "react",
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "last 2 Firefox versions",
          "last 2 Chrome versions",
          "last 2 Edge versions",
          "last 2 Safari versions"
        ]
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
