:root {
  --Timeline--gap: var(--size--x6);
  --Timeline--line-width: var(--border-size--x2);
}

.Timeline__item {
  display: grid;
  padding-bottom: var(--Timeline--gap);
  grid-gap: var(--Timeline--gap);
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.Timeline__point {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.Timeline__line {
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.Timeline__description {
  padding-bottom: calc(var(--Timeline--gap) * 2);
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.Timeline__line::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-right: var(--Timeline--line-width) solid var(--color-text--shade-1);
}

.Timeline__item:last-child .Timeline__line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(var(--Timeline--line-width) * 8);
  height: var(--Timeline--line-width);
  transform: translateX(-50%);
  background-color: var(--color-text--shade-1);
}

.Timeline--compact {
  & .Timeline__item {
    grid-template-columns: auto 1fr 1fr;
  }

  & .Timeline__line::before {
    left: 0;
    transform: none;
  }

  & .Timeline__point {
    grid-column: 1 / span 2;
  }

  & .Timeline__description {
    padding-bottom: 0;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }
}

.Timeline__item:last-child {
  padding-bottom: 0;

  & .Timeline__description {
    padding-bottom: 0;
  }
}
