.NodeList__item {
  width: 100%;
  background-color: var(--color-dark-shade-1);
  color: var(--color-light-shade-1);
  transition-property: transform, width;
  transition-duration: var(--transition-duration--base);
  transition-timing-function: var(--transition-timing-function);
}

.NodeList__item--next {
  width: calc(100% - var(--size--x8));
  transform: translateX(var(--size--x8));
}
