.CircleArt__circle,
.CircleArt__intersection {
  fill: var(--color-background-shade-2);
  stroke-width: 0.5;
  stroke-opacity: 0.5;
  stroke: var(--color-text-shade-1);
  transition-property: fill, stroke, stroke-width;
  transition-duration: var(--transition-duration--fast);
  transition-timing-function: var(--transition-timing-function);
}


.CircleArt--mode-draw {
  & .CircleArt__circle {
    fill: transparent;
    stroke-width: 1;
  }

  & .CircleArt__circle:hover,
  & .CircleArt__circle--active {
    stroke: var(--color-accent-shade-4);
  }
}

.CircleArt--mode-view,
.CircleArt--mode-fill {
  & .CircleArt__circle--filled,
  & .CircleArt__intersection--filled {
    fill: var(--color-text-shade-1);
    stroke: var(--color-background-shade-2);
  }
}

.CircleArt--mode-fill {
  & .CircleArt__circle:hover,
  & .CircleArt__intersection:hover {
    fill: var(--color-background-shade-3);
    stroke: var(--color-accent-shade-5);
    stroke-width: 1;
  }

  & .CircleArt__circle--filled:hover,
  & .CircleArt__intersection--filled:hover {
    fill: var(--color-text-shade-4);
    stroke-width: 1;
  }
}
